{% extends 'base.html.twig' %}

{% block title %}acceuil{% endblock %}

{% block body %}
<h1>Formulaire de création de ticket :</h1>
{{form_start(form)}}
{{form_row(form.auteur)}}
{{form_row(form.description)}}
{{form_row(form.categorie)}}
{{form_row(form.envoyer)}}
{{form_end(form, {'render_rest': false})}}
<h2>idetification Administateur</h2>
<a class="btn btn-primary btn-sm" href="{{path('admin.index')}}">espaces administrateur</a>
{% endblock %}
